@page
@model ChalkboardChat.UI.Pages.Member.PostsModel
@{
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card shadow">
                    <div class="card-header bg-success text-light">
                        <h3 class="text-center ">Message Board</h3>
                    </div>
                    <div class="card-body">
                        <!-- Form for posting a message -->
                    <form method="post">
                        <button type="submit" class="btn btn-primary m-2">Logout</button>
                        <!-- Hidden input for Username -->
                        <input type="hidden" asp-for="Username" />

                        <div class="form-group">
                            <label for="Message">Message:</label>
                            <textarea   rows="4" class="form-control" asp-for="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary m-2">Submit</button>
                    </form>


                        <!-- Display existing messages -->
                        <div class="list-group">
                            @foreach (var message in Model.Messages)
                            {

                            <div class="list-group-item @(message.Username == Model.Username ? "bg-warning" : "") ">
                                    <div class="d-flex w-100 justify-content-between ">
                                        <h5 class="mb-1">@message.Username</h5>
                                        <small>@message.Date.ToShortDateString()</small>
                                    </div>
                                    <p class="mb-1">@message.Message</p>
                                </div>                            
                                
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>