@page
@model ChalkboardChat.UI.Pages.Member.PostsModel
@{
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card shadow">
                    <div class="card-header bg-success text-light">
                        <h3 class="text-center ">Message Board</h3>
                    </div>
                    <div class="card-body">
                        <!-- Form for posting a message -->
                    <form method="post">
                        <button type="submit" class="btn btn-primary m-2" name="action" value="logout">Logout</button>
                        <!-- Hidden input for Username -->
                        <input type="hidden" asp-for="Username" />

                        <div class="form-group">
                            <label for="Message">Message:</label>
                            <textarea   rows="4" class="form-control" asp-for="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary m-2" name="action" value="submit">Submit</button>
                    </form>


                        <!-- Display existing messages -->
                    <div class="list-group">
                        @foreach (var message in Model.Messages.OrderByDescending(m => m.Date))
                        {
                            <div class="list-group-item @(message.Username == Model.Username ? "bg-warning" : "") ">
                                <div class="d-flex w-100 justify-content-between">
                                    <div>
                                        <h5 class="mb-1">@message.Username - <small style="font-size: 10px;">@message.Date.ToShortDateString()</small></h5>
                                    </div>
                                    @if (message.Username == Model.Username)
                                    <div class="text-center">
                                        <button style="width: 60px; height: 30px; font-size: 9px; align-content: center;" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                                <p class="mb-1">@message.Message</p>
                            </div>
                        }
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>